{% extends 'dreambuy/base.html' %}
{% block body %}

<div class="content-section">
<ul class="bult">
<h2>What is DreamBuy?</h2>

	<p><b>DreamBuy</b>&nbsp;is authentic and legitimate. It is one of thebidding Sites In India around that delivers reduced prices on high-end products and services. Any visitor that creates an account gets an opportunity to enjoy unique sell offs. The website offers the best prices around that can be won by placing bid for your favorite product. lucky draw will be taken once bids on product reaches maximum bids</p>

	<p><b>DreamBuy</b> is safe, secure and totally reliable. A means to convert rare opportunities into high scores and win unbelievable rewards which could include Mobile phones, Home appliances, Automobiles, expensive holidays to five-star hotels, dream bikes bought at give away prices. </p>

	<p>Virtually anyone can play on DreamBuy. You can win prizes online in India for free, all you have to do is make a choice of a dream product you want and examine what is needed to bid to Win Prizes.</p>
	</li>



<p><b>How old do I have to be to join DreamBuy?</b></p>
<p>As required by the law, you must be legally an adult (18 years) to join DreamBuy</p>
<p><b>How much does it cost to join DreamBuy?</b></p>
<p>Joining DreamBuy is absolutely free. Anyone can join DreamBuy without paying any cost</p>
<p><b>How do I register with DreamBuy?</b></p>
<p>Registration is very easy. It is the same as opening an account. Sign up and login, explore the website and enter this amazing game.</p>
<p><b>Can I use my Credit/Debit card to buy bid points?</b></p>
<p><b>Yes.</b> DreamBuy accept different payment methods, debit cards, credit cards and bank transfer.</p>
    <!--
<p><b>How do I deactivate and delete my account?</b></p>
<p><b>Yes,</b> it is very easy to delete or deactivate a DreamBuy account. Just click on ‘DEACTIVTE MY ACCOUNT’button, accept action and account is deleted immediately.</p>
-->
<p><b>Are my details safe with DreamBuy?</b></p>
<p>Yes, they are. We have a very strict about the privacy of our players. We will never share your information to any third party.</p>

<p><b>After signing up on DreamBuy, what next?</b></p>
<p>As soon as you sign up, you can visit the product page and choose products you want. place bids on products and wait for the lucky draw.
</p>

<p><b>What is a bid and how much does it cost?</b></p>
<p>A bid is a certain amount within a specified limit placed to win a product or service in a live game. Each bid costs Rs500 and can be placed for a product.</p>



<p><b>How to know my bid status?</b></p>
<p>After placing a bid for the specific product, DreamBuy communicates a confirmation message to you through an email or SMS. You may also check the live streaming of the product luckydraw once bids reached maximum bids.</p>

<p><b>Is there any timing or limit to submit a bid?</b></p>
<p>No, you may enter as many bids you desire 24/7 on multiple products of your choice.</p>

<p><b>Can I undo the bid submitted me?</b></p>
<p>No, once a bid is submitted, it cannot be altered or deleted.</p>
<p><b>What if I win a product?</b></p>
<p>Once you win a game, you will be contacted immediately via through email/phone to confirm your address and share the details of the winning product or service.</p>

<p><b>The page keeps on resetting itself without login happening. What’s going wrong?</b></p>
<p>Please close the window and restart your browser. It is most likely due to cookies and will get resolved by restarting. You may also contact us in case the issue doesn’t get resolved by restarting.</p>

<p><b>What happens if I have forgotten my password?</b></p>
<p>Your pass word can be rest easily by clicking ‘I forgot my password’ OTP to reset password will be sent to reset your password</p>
    

</ul>
</ul>
</div>
{% endblock %}