{% extends 'dreambuy/base.html' %}
{% block body %}




<div class="content-section">
<div class="container">
    <h3 style="font-family:Lobster;"><font color=#FF5733 >Top products </font></h3>
<div class="row">

{% if prdt %}
{% for item in prdt %}

<div class="col-md-3 col-sm-6">
<div class="product-item">
<div class="product-content" >
<h5><a href="/dreambuy/{{item.Product_id}}">{{ item.Product_name }}</a></h5>

<br>
<br>
<div class="product-thumb">
<img  style="height:40px widht:50px " src="{{ item.Product_image }}" alt="">
</div>


</div> <!-- /.product-thum -->

<div class="product-content">


<strike><span class="price">Price: &#8377;{{item.Product_price}}</span></strike>

<span class="price">Bid price: &#8377;{{item.Product_each_bid_cost}}</span>


  Bids Placed: {{ item.Product_bids }} of {{item.Product_MAX_bid}}
    <button  style="float:right; " class="w3-button w3-green w3-round-xlarge"  data-toggle="modal" data-target="#{{item.Product_id}}">Bid Now</button>
<div class="w3-section w3-light-grey">

  <div class="w3-container w3-round w3-blue w3-center" style="width:{{item.Product_bid_percent}}%">{{item.Product_bid_percent}}%</div>
</div>


</div> <!-- /.product-content -->
</div> <!-- /.product-item -->

</div> <!-- /.col-md-3 -->


<div class="modal fade product_view" id="{{item.Product_id}}">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
<h3 class="modal-title">{{ item.Product_name }}</h3>
</div>
<div class="modal-body">
<div class="row">
<div class="col-md-6 product_img">
<img src="{{ item.Product_image }}" class="img-responsive">
</div>
<div class="col-md-6 product_content">
<h4>Product Id: <span>{{item.Product_id}}</span></h4>
<p>{{ item.Product_details }}</p>

<h3><span class="price">Price: &#8377;{{item.Product_price}}</span></h3>

<div class="space-ten"></div>


<form method="POST" action="/dreambuy/bid/{{item.Product_id}}">{% csrf_token %}
<table>
<tr>
<th style="padding:20px;">
<th><span class="input-group-btn">
<button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quote_bids">
<span class="glyphicon glyphicon-minus"></span>
</button>
</span></th>
<th>


<input type="text" name="quote_bids" class="form-control input-number" style="width: 50px;" value="1"  min="1" max={{prdt.Product_MAX_bids}} />


</th>
<th><span class="input-group-btn">
<button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quote_bids">
<span class="glyphicon glyphicon-plus"></span>
</button>
</span>
</th>

<th style="padding:10px;">

</th>

<th>
<input type="hidden" name="Product_id" value={{item.Product_id}}>

<input class="btn button" style="float: right;"  role="button" onclick='overlay()' type="submit" value="Bid now">
</th>
</tr>

</table>
</form>



</div>
</div>
</div>
</div>
</div>
</div>





{% endfor %}

            {% else %}
                <h3> you don't have any category's </h3>
            {% endif %}


            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.content-section -->


<style>

function myFunction() {
    var loadpage = document.getElementById('value').value;
    alert(loadpage);

}

function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}


//plugin bootstrap minus and plus
//http://jsfiddle.net/laelitenetwork/puJ6G/
$('.btn-number').click(function(e){
    e.preventDefault();

    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {

            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            }
            if(parseInt(input.val()) == input.attr('min')) {
                $(this).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }

        }
    } else {
        input.val(0);
    }
});
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {

    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());

    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }


});
$(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

</script>


<style>
.dropdown {
   display: table-cell;
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    vertical-align: middle;
}

.dropdown:hover .dropdown-content {
    display: block;
    vertical-align: middle;
}

.desc {
    padding: 15px;
    text-align: center;
}


.zoomin img {
  height: 200px;
  width: 200px;
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}
.zoomin img:hover {
  width: 300px;
  height: 300px;
}


.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;x
    z-index:999;
    display:inline;
}

.imgContainer{
    float:left;
}


.details_div {

    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}


.tumbs{
display: inline-block;;
}

.center{
width: 10px;
}

.wrapper {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}



#outer
{
    text-align: center;
}
.inner
{
    display: inline-block;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

td{
 border: none;
},
th {

    text-align: center;

     border: 1px solid #CCC;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}












        .product_view .modal-dialog{max-width: 800px; width: 100%;}
        .pre-cost{text-decoration: line-through; color: #a5a5a5;}
        .space-ten{padding: 10px 0;}
</style>
{% endblock %}
