{% extends 'dreambuy/base.html' %}
{% block body %}




<div class="content-section">
<div class="container">
    <h3 style="font-family:Lobster;"><font color=#FF5733 >Top products </font></h3>
<div class="row">

{% if prdt %}
{% for item in prdt %}

<div class="col-md-3 col-sm-6">
<div class="product-item">
<div class="product-content" >
<h5><a href="/dreambuy/{{item.Product_id}}">{{ item.Product_name }}</a></h5>

<br>
<br>
<div class="product-thumb">
<img  style="height:40px widht:50px " src="{{ item.Product_image }}" alt="">
</div>


</div> <!-- /.product-thum -->

<div class="product-content">


<strike><span class="price">Price: &#8377;{{item.Product_price}}</span></strike>

<span class="price">Bid price: &#8377;{{item.Product_each_bid_cost}}</span>


  Bids Placed: {{ item.Product_bids }} of {{item.Product_MAX_bid}}
    <button  style="float:right; " class="w3-button w3-green w3-round-xlarge"  data-toggle="modal" data-target="#{{item.Product_id}}">Bid Now</button>
<div class="w3-section w3-light-grey">

  <div class="w3-container w3-round w3-blue w3-center" style="width:{{item.Product_bid_percent}}%">{{item.Product_bid_percent}}%</div>
</div>


</div> <!-- /.product-content -->
</div> <!-- /.product-item -->

</div> <!-- /.col-md-3 -->


<div class="modal fade product_view" id="{{item.Product_id}}">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
<h3 class="modal-title">{{ item.Product_name }}</h3>
</div>
<div class="modal-body">
<div class="row">
<div class="col-md-6 product_img">
<img src="{{ item.Product_image }}" class="img-responsive">
</div>
<div class="col-md-6 product_content">
<h4>Product Id: <span>{{item.Product_id}}</span></h4>
<p>{{ item.Product_details }}</p>

<h3><span class="price">Price: &#8377;{{item.Product_price}}</span></h3>

<div class="space-ten"></div>





</div>
</div>
</div>
</div>
</div>
</div>





{% endfor %}

            {% else %}
                <h3> you don't have any category's </h3>
            {% endif %}


            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.content-section -->


<style>
        .product_view .modal-dialog{max-width: 800px; width: 100%;}
        .pre-cost{text-decoration: line-through; color: #a5a5a5;}
        .space-ten{padding: 10px 0;}
</style>
{% endblock %}
