<div class="col"  style="margin-bottom: 10px; height: 638px;">
                                                <div class="auction-block">
                                                    <h4 style="height: 78px;">
                                                        <a href="#" title="Click to View in Full Page">Transcend JetFlash 340 OTG 16 GB Pendrive</a></h4>
                                                    <span class="price">MRP : 990.00</span>
                                                    <figure class="product-image">
                                                        <a href="#" title="Click to View in Full Page"><img src="https://www.bidderboy.com/images/Product/201512221823_transcend-jetflash-340-otg-Pen-drive.jpeg" style="max-width: 220px;width: auto;max-height: 245px; height: auto;" alt="Transcend JetFlash 340 OTG 16 GB Pendrive"></a>
                                                    </figure>
                                                    <div class="bid-credit-row">
                                                        <span class="auction-id">Auction ID. BB13684</span>
                                                        <a class="bid-credit" title="Number of Require Credits Per BID">3x</a>
                                                    </div>
                                                    <!--/.bid-credit-row-->
                                                    <div class="bid-row cf">
                                                        <span class="bid-price">₹
                                                                             <label >0.50</label>
                                                        </span>
                                                        <div class="bid-status">
                                                            <div  class="">
                                                                <span  class="timer" data-transition="customZoomTrans2" style="color: rgb(61, 77, 101);">14:27:11</span>
                                                            </div>
                                                            <span class="bidder-name">
                                                                <label >Nitish08062001</label>
                                                                <label " style="display:none;">2017,8,21,14,30,0,0</label>
                                                            </span>
                                                        </div>
                                                        <!--/.bid-status-->
                                                    </div>
                                                    <div class="bid-option-row">
                                                        <span class="bid-buttons">
                                                            <div id="rptrLiveProduct_ctl00_0">

                                                                    <a id="rptrLiveProduct_lnkCart_0" title="Add to cart" class="cart bid-btn" href="javascript:__doPostBack('rptrLiveProduct$ctl00$lnkCart','')"></a>
                                                                    <a id="rptrLiveProduct_lnkAutoBid_0" title="Set AUTOBID" class="bid bid-btn" href="javascript:__doPostBack('rptrLiveProduct$ctl00$lnkAutoBid','')">A</a>

</div>
                                                        </span>
                                                        <span class="bid-now-button">
                                                            <input type="button" id="BidNow" onclick="BidNowClick('13684    ')" value="BID NOW" class="button btn-lg bid-now" title="Click to Place BID">
                                                        </span>
                                                    </div>
                                                    <!--/.bid-option-row-->
                                                </div>
                                                <!--/.auction-block-->
                                            </div>